//- footer
footer
  .row(role="navigation")
    .column.small-1
      a(href="/" title="Home").logo.margin-top
      
      
    .column.small-11.show-for-large-up
      ul.inline-list.right.padding-top-less.medium-padding-top
        //- li
        //-   a.menu-item.small.white(href="") Stats
        li
          a.menu-item.small.white(href="https://cryptonize.it/order-anything/") Order Anything
        //- li
        //-   a.menu-item.small.white(href="./about") About
        li
          a.menu-item.small.white(href="https://cryptonize.com/") Cryptonize
        li
          a.menu-item.small.white(href="https://cryptonize.it/terms-conditions/") Terms & Conditions
        li 
          a.menu-item.small.white(href="https://cryptonize.it/contact/") Contact
