extends _layouts/primary


block content
  div(role="navigation" style="background: #30545A url('/images/banner.jpg'); background-size: cover; background-position: top;")
    include _includes/main-menu.jade
    .section
      .row
        .column.large-8.large-offset-2.text-center
          h1.white.fade-in.text-shadow The Secure, Shared Bitcoin Wallet
      .row
        .column.large-8.large-offset-2.text-center
          h3.white.medium-margin-top-less.fade-in.delay-4.text-shadow Secure your bitcoin with the open source, #[span.has-tip.tip-top.white(data-tooltip aria-haspopup="true" title="hierarchical-deterministic – HD wallets make protecting your bitcoin easier. One backup is all you need to access your bitcoin forever.") HD]&#8209;multisignature wallet from Cryptonize.
          .margin-top-less.fade-in.delay-4
            a(href="#download").uppercase.bold.white.btn.btn-green.btn-margin.margin-top Get CashPay
    .bg-gray.border-bottom-gray
      .row.padding-less.text-center
        mixin logos(name, title, url)
          a(href="#{url}" target="blank" alt="#{title}" title="#{title}" cancel-s18n)
            .home-logo.h2.unselectable.grey-hover(style="background-image: url('/images/bw-icons/#{name}.svg'); width: 0.75em; height: 0.75em; margin-right: 0.55em")
        +logos("apple", "iOS", "#")
        +logos("google", "Google Play", "#")
      
      
  .section
    .row
      .column.large-7.hide-for-large-up
        .icon.h2.background-contain(style="background-image: url('/images/faces-cell-complete.png'); height:15em;")
      .column.large-5
        h2.header__bottom-border__large-left.padding-top Different, Unique CashPay
        h5.margin-bottom With responsibility comes freedom.
        p A Bitcoin Cash exlusive mobile wallet that enables you to buy anything only and pay with Bitcoin Cash. CashPay is powered by Cryptonize.it's powerful 'order anything' service to make sure you are able to order ANYTHING you want!
        p We support charities worldwide by giving them a platform in the app to promote their cause. You can donate to them directly with just a few taps.
      .column.large-7.show-for-large-up
        .icon.h2.background-contain

          //- Animation starts
          img.side-phone.fade-in-right.wow.animated(src="/images/faces-cell.png" s18n-attrs="src") 
          img.user-face.user-face-position1.delay-1.fade-in-right.wow.animated(src="/images/user1.svg") 
          img.user-face.user-face-position2.delay-1.fade-in-right.wow.animated(src="/images/user2.svg") 
          img.user-face.user-face-position3.delay-1.fade-in-right.wow.animated(src="/images/user3.svg") 
          img.user-checked.check-position1.delay-4.fade-in.wow.animated(src="/images/user-checked.svg") 
          img.user-checked.check-position2.delay-8.fade-in.wow.animated(src="/images/user-checked.svg") 
          img.user-checked.check-position3.delay-12.fade-in.wow.animated(src="/images/user-checked.svg") 
          img.user-checked-phone.check-phone-position1.delay-6.fade-in.wow.animated(src="/images/user-checked-phone.svg")
          img.user-checked-phone.check-phone-position2.delay-10.fade-in.wow.animated(src="/images/user-checked-phone.svg")
          img.user-checked-phone.check-phone-position3.delay-14.fade-in.wow.animated(src="/images/user-checked-phone.svg")
          img.phone-green-screen.delay-16.fade-in.wow.animated(src="/images/side-phone-screen2.png" s18n-attrs="src" )
          //- Animation ends
        
  .section.bg-gray
    .row
      .column.large-7.hide-for-large-up
        .icon.h2.background-contain(style="background-image: url('/images/multiple-wallets.png'); height:15em;")
      .column.large-7.show-for-large-up
          //- Animation starts
          img.base-phone.fade-in.wow.animated(src="/images/base-phone.png" s18n-attrs="src") 
          img.yellow-wallet.delay-3.fade-in-up.wow.animated(src="/images/blue-wallet.png" s18n-attrs="src") 
          img.purple-wallet.delay-6.fade-in-up.wow.animated(src="/images/purple-wallet.png" s18n-attrs="src") 
          //- Animation ends
      .column.large-5
        h2.header__bottom-border__large-left.padding-top Order Anything, #[br] Buy Everything
        h5.margin-bottom-less No more loosing time at exchanges.
        p Buy what ever you want with your money that you love fast, simple and only few clicks.
        p No need of exchange, no need of debit card, we do the hard work for you.

  
  #download.section.bg-dark.text-center
    h2.white.margin-bottom-less Get the CashPay Wallet
    .row.text-center
      a(href="#" target="blank" cancel-s18n).white.btn.btn-gray-medium-border.download
        .icon.left.h2.background-contain(style="background-image: url('/images/icon-applestore.svg'); width: 2em; height: 1em;")
        .text-left.line-height-less
          small.gray-medium Find it on the
          h6.white.margin-none iOS App Store
          
      a(href="#" target="blank" cancel-s18n).white.btn.btn-gray-medium-border.download
        .icon.left.h2.background-contain(style="background-image: url('/images/icon-playstore.svg'); width: 2em; height: 1em;")
        .text-left.line-height-less
          small.gray-medium Get it on
          h6.white.margin-none Google Play
                    
    .margin-top
      a.border-bottom-light.white(href="https://github.com/Cryptonize/") Download the latest source code from GitHub &rsaquo;
  
  .section.bg-gray
    .row
      .column.large-3.small-6.text-center
        .icon.h2.background-contain.margin-bottom-less(style="background-image: url('/images/icon-globe.svg'); height:2.5em;")
        p Prices In  150 Currencies
        
      .column.large-3.small-6.text-center
        .icon.h2.background-contain.margin-bottom-less(style="background-image: url('/images/icon-speech.svg'); height:2.5em;")
        p  Multi-Language Support
      .column.large-3.small-6.text-center
        .icon.h2.background-contain.margin-bottom-less(style="background-image: url('/images/icon-wallet-arrow-down.svg'); height:2.5em;")
        p  HD Wallet  Backups
      .column.large-3.small-6.text-center
        .icon.h2.background-contain.margin-bottom-less(style="background-image: url('/images/icon-flow.svg'); height:2.5em;")
        p  Convenient Payment Proposal Flow
